.wip {
	padding-top: 10em;
	text-align: center;
	font-weight: normal;
}

.links {
	list-style: none;
	text-align: center;
}

.link-container {
	display: list-item;
	width: 100%;
}

.link {
	width: min-content;
	font-size: 1.25rem;
}